---
layout: default
pagination:
enabled: true
---
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<div class="home">

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover
    %}style="background-image: url({{ site.cover | prepend: site.baseurl }});" {% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title" style=font-size:80px>{{ site.title }}</h1>
        {% if site.subtitle %}<p class="title" style=font-size:30px>{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <h1 id="headings">Introduction</h1>
    <p style="text-align: justify">
      Autonomous car racing is a major challenge in robotics.
      It raises fundamental problems for classical approaches such as planning minimum-time trajectories under uncertain
      dynamics and controlling the car at its limits of handling.
      Besides, the requirement of minimizing the lap time, which is a sparse objective, and the difficulty of collecting
      training data from human experts have also hindered researchers from directly applying learning-based approaches
      to solve the problem.
      In the present work, we propose a learning-based system for autonomous car racing by leveraging high-fidelity
      physical car simulation, a course-progress-proxy reward, and deep reinforcement learning.
      We deploy our system in Gran Turismo Sport, a world-leading car simulator known for its realistic physics
      simulation of different race cars and tracks, which is even used to recruit human race car drivers.
      Our trained policy achieves autonomous racing performance that goes beyond what
      had been achieved so far by the built-in AI, and, at the same time, outperforms
      the fastest driver in a dataset of over 50,000 human players.
    </p>

    <h2 id="headings">Video</h2>
    <iframe width="750" height="421" src="https://www.youtube.com/embed/Zeyv1bN9v4A" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

  </div>
</div>

<!-- Reference -->
<div class="wrapper">
  <div class="container" style="margin-top:30px;margin-bottom:30px;">
    <h2>Reference</h2>
    <div class="row">
      <div class="col-lg-8" style="padding:0;">
        <div style="background:#ffffff;margin:0px;padding:0px;">
          <pre>
          <code class="pre-scrollable" style="background:#ffffff;color:#333;font-size:12px;padding:0px;border-width:0px;">
@article{fuchs2021super,
  title={Super-Human Performance in Gran Turismo Sport Using Deep Reinforcement Learning},
  author={Fuchs, Florian and Song, Yunlong and Kaufmann, Elia and Scaramuzza, Davide and Duerr, Peter},
  journal={IEEE Robotics and Automation Letters}, 
  year={2021},
  publisher={IEEE}
}
          </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home">
  <div class="site-header-container {% if site.cover1 %}has-cover{% endif %}" {% if site.cover1
    %}style="background-image: url({{ site.cover1 | prepend: site.baseurl }});" {% endif %}>
    <div class="scrim {% if site.cover1 %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title" style=font-size:80px>{{ site.title1 }}</h1>
        {% if site.subtitle1 %}<p class="title" style=font-size:30px>{{ site.subtitle1 }}</p>{% endif %}
      </header>
    </div>
  </div>
  <div class="wrapper">
    <h1 id="headings">Introduction</h1>
    <p style="text-align: justify">
      Professional race car drivers can execute extreme overtaking maneuvers.
      However, conventional systems for autonomous overtaking rely on either simplified assumptions about
      the vehicle dynamics or solving expensive trajectory optimization problems online.
      When the vehicle is approaching its physical limits, existing model-based controllers
      struggled to handle highly nonlinear dynamics and cannot leverage the large volume of data
      generated by simulation or real-world driving.
      To circumvent these limitations, this work proposes a new learning-based method to
      tackle the autonomous overtaking problem.
      We evaluate our approach using Gran Turismo Sport---a world-leading car racing simulator known for
      its detailed dynamic modeling of various cars and tracks.
      By leveraging curriculum learning, our approach leads to faster convergence
      as well as increased performance compared to vanilla reinforcement learning.
      As a result, the trained controller outperforms the built-in model-based game AI and
      achieves comparable overtaking performance with an experienced human driver.
    </p>

    <h2 id="headings">Video</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y7YOo7vEwb0" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

  </div>

  <!-- Reference -->
  <div class="wrapper">
    <div class="container" style="margin-top:30px;margin-bottom:30px;">
      <h2>Reference</h2>
      <div class="row">
        <div class="col-lg-8" style="padding:0;">
          <div style="background:#ffffff;margin:0px;padding:0px;">
            <pre>
          <code class="pre-scrollable" style="background:#ffffff;color:#333;font-size:12px;padding:0px;border-width:0px;">
@article{song2021autonomous,
  title={Autonomous Overtaking in Gran Turismo Sport Using Curriculum Reinforcement Learning},
  author={Song, Yunlong and Lin, HaoChih and Kaufmann, Elia and Duerr, Peter and Scaramuzza, Davide},
  booktitle={International Conference on Robotics and Automation (ICRA)},
  year={2021},
  organization={IEEE}
}
          </code>
          </pre>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="wrapper">
    <div id="people"> -->
  <!-- <div class="inline-block">
        <img src="{{site.baseurl}}/assets/sony.png" style="width: 150px">
      </div>
      <div class="inline-block">
        <img src="{{site.baseurl}}/assets/rpg_logo.png" style="width: 150px">
      </div> -->
  <!-- <div class="inline-block">
        <img src="{{site.baseurl}}/assets/uzh_logo_e_pos.svg" style="width: 200px">
      </div>
      <div class="inline-block">
        <img src="{{site.baseurl}}/assets/eth_logo.svg" style="width: 200px">
      </div> -->
  <!-- </div>
  </div> -->

</div>